.navbar-item {
    display: flex;
    margin-left: 20px;
    align-items: center;
    gap: 4px;
    color: black;
    text-decoration: none;
    border: none;
    background-color: transparent;
  
    &:hover {
      text-decoration: underline;
    }
  }
  